
<h2>Index</h2>
<div class="row">
    <div class="col-md-4">
        <div class="form-vertical ">
            <input type="hidden" name="name" value="Add" id="Add" />
            <input type="hidden" name="name" value="id" id="TxtId" />
            <div class="form-group">
                <label class="control-label">UserName</label>
                <input type="text" name="UserName" class="form-control" id="UserName" />
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input type="email" name="Email" class="form-control" id="Email" />
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input type="password" name="Password" class="form-control" id="Password" />
            </div>
            <div class="form-group">
                <label class="control-label">Phone</label>
                <input type="text" name="Phone" class="form-control" id="Phone" />
            </div>
            <div class="form-group">
                <label class="control-label">Avatar</label>
                <input type="file" name="Avatar" class="form-control" id="Avatar" />
            </div>
            <div class="form-group">
                <label class="control-label">Birthday</label>
                <input type="text" name="Birthday" class="form-control" id="Birthday" />
            </div>
            <div class="form-group">
                <label class="control-label">status</label>
                <input type="checkbox" name="status" id="status" />

            </div>

            <button class="btn btn-danger " onclick="Add_data()" type="button">Lưu</button>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Tên
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Password
                    </th>
                    <th>
                        Phone
                    </th>
                    <th>
                        Avatar
                    </th>
                    <th>
                        Birthday
                    </th>
                    <th>
                        status
                    </th>
                    <th></th>
                </tr>
            </thead>
            <thead class="_data">
                <tr>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section scripts{
    <script>

        function newFrom() {
            $("#UserName").val(null),
                $("#Email").val(null),
                $("#Password").val(null),
                $("#Phone").val(null),
                $("#Avatar").val(null),
                $("#Birthday").val(null),
                $("#status").val(null)
        }
        function Load_data() {
            $.ajax({
                type: "Get",
                url: "https://localhost:44324/api/User/",
                success: function (res) {
                    let row = "";
                    for (let item of res.data) {
                        row += `<tr>
                            <td>${item.UserName}</td>
                            <td>${item.Email}</td>
                            <td>${item.Password}</td>
                            <td>${item.Phone}</td>
                            <td><img src="https://localhost:44324/${item.Avatar}"/></td>
                            <td>${item.Birthday}</td>
                            <td>${item.status}</td>
                            <td><input style="submit" data-id="${item.id}" class="btn btn-danger btn_edit" value="Sửa"></></td>
                            <td><input style="submit"  data-id="${item.id}" class="btn btn-default btn_deletet" value="Xóa"></></td>
                            </tr>`;
                    }
                    $("._data").html(row);
                }

            })
        }
        function Add_data() {
            //var formData = new FormData();
            //formData.append("UserName", $("#UserName").val());
            //formData.append("Email", $("#Email").val());
            //formData.append("Password", $("#Password").val());
            //formData.append("Phone", $("#Phone").val());
            //formData.append("Image", $("#Avatar")[0].files[0]);
            //formData.append("Birthday", $("#Birthday").val());
            //formData.append("status", $("#status").is(":checked"));
            var data = {
                UserName: $("#UserName").val(),
                Email: $("#Email").val(),
                Password: $("#Password").val(),
                Phone: $("#Phone").val(),
                Birthday: $("#Birthday").val(),
                status: $("#status").is(":checked"),
                Avatar: "/Content/Images/" + $("#Avatar")[0].files[0].filename,
            }
            console.log(formData);
            $.ajax({
                method: "POST",
                url: "https://localhost:44324/api/User",
                data: formData,
                success: function (res) {
                    if (res.status == 200) {
                        
                        Load_data();
                        newFrom();
                    }
                },
            //    error: err => {
            //        console.log(err)
            //    }
            })
          //  Upload();
        }
        function Upload() {
            var formData = new FormData();
            formData.append("Image", $("#Avatar")[0].files[0])
            $.ajax({
                url: "https://localhost:44324/api/User/UplaodImg",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (res) {
                    console.log(res)
                }
            })
        }
        function find(id) {
            $.ajax({
                url: "https://localhost:44324/api/User/" + id,
                type: "Get",
                success: function (res) {
                    $("#TxtId").val(id),
                        $("#UserName").val(res.data.UserName),
                        $("#Email").val(res.data.Email),
                        $("#Password").val(res.data.Password),
                        $("#Phone").val(res.data.Phone),
                        // $("#Avatar").val(res.data.Avatar),
                        $("#Birthday").val(res.data.Birthday),
                        $("#status").prop("chack", res.data.status)
                }
            })
        }


        $(function () {
            Load_data();
            $(".btn_but").click(function () {
                if ($("#Add").val() == "Add") {
                    Add_data();
                } else {
                    let obj_edit = {
                        id: $("#TxtId").val(),
                        UserName: $("#UserName").val(),
                        Email: $("#Email").val(),
                        Password: $("#Password").val(),
                        Phone: $("#Phone").val(),
                        Avatar: $("#Avatar").val(),
                        Birthday: $("#Birthday").val(),
                        status: $("#status").val()
                    }
                    $.ajax({
                        url: "https://localhost:44324/api/User/",
                        type: "Put",
                        data: obj_edit,
                        success: function (res) {
                            if (res.status == 200) {

                            }
                        }
                    })
                }

            })
            $(document).on("click", ".btn_edit", function () {
                let _id = $("#Add").val("edit");
                var id = ($(this).data("id"));
                find(id);
            })
            $(document).on("click", ".btn_deletet", function () {
                let _id = ($(this).data("id"));
                $.ajax({
                    type: "DELETE",
                    url: "https://localhost:44324/api/User/" + _id,
                    success: function (res) {
                        console.log(res)
                        Load_data();
                    }
                })
            })
            $("#registration").validate({
                rules: {
                    UserName: "required",
                    Email: {
                        required: true,
                        email: true
                    },
                    Phone: {
                        required: true,
                        phone: true,
                    },
                    Birthday: {
                        required: true,
                        date: true,
                    }

                },
                messages: {
                    UserName: "Please enter your firstname",
                    Email: {
                        required: "Please enter a valid email address",
                        email: "Chua dung dinh dang "
                    },
                    Phone: {
                        required: "Please enter a valid Phone address",
                    },
                    Birthday: {
                        required: "Please enter a valid Birthday address",
                        date: "dung dinh dang ngay"
                    }
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });
        })
    </script>

}
