
<h2>Index</h2>
<div class="row">
    <div class="col-md-4">
        <form id="frm" novalidate="novalidate">
            <div class="form-vertical ">
                <input type="hidden" name="name" value="Add" id="Add" />
                <input type="hidden" name="name" value="id" id="TxtId" />
                <div class="form-group">
                    <label class="control-label">UserName</label>
                    <input type="text" name="UserName" class="form-control" id="UserName" />
                </div>
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input type="email" name="Email" class="form-control" id="Email" />
                </div>
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input type="password" name="Password" class="form-control" id="Password" />
                </div>
                <div class="form-group">
                    <label class="control-label">Phone</label>
                    <input type="text" name="Phone" class="form-control" id="Phone" />
                </div>
                <div class="form-group">
                    <label class="control-label">Avatar</label>
                    <input class="form-control" type="file" name="img" id="Image" value="" />
                    <div>
                        <img src="" class="img-responsive" id="output" alt="" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Birthday</label>
                    <input type="text" name="Birthday" class="form-control" id="Birthday" />
                </div>
                <div class="form-group">
                    <label class="control-label">status</label>
                    <input type="checkbox" name="status" id="status" />

                </div>

                <button tyle="submit" class="btn btn-danger" id="btn_but" type="button">Lưu</button>
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Tên
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Password
                    </th>
                    <th>
                        Phone
                    </th>
                    <th>
                        Avatar
                    </th>
                    <th>
                        Birthday
                    </th>
                    <th>
                        status
                    </th>
                    <th></th>
                </tr>
            </thead>
            <thead class="_data">
                <tr>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section scripts{
    <script>

    function newFrom() {
         $("#UserName").val(null),
             $("#Email").val(null),
             $("#Password").val(null),
             $("#Phone").val(null),
             $("#output").attr("src", "");
             //$("#Avatar").val(null),
             $("#Birthday").val(null),
             $("#status").val(null)
    }
    function Load_data() {
        $.ajax({
            type: "GET",
            url: "https://localhost:44324/api/User",
            success: function (res) {
                let row = "";
                for (let item of res.data) {
                    row += `<tr>
                        <td>${item.UserName}</td>
                        <td>${item.Email}</td>
                        <td>${item.Password}</td>
                        <td>${item.Phone}</td>
                        <td><img src="${"https://localhost:44324"+item.Avatar}"/></td>
                        <td>${item.Birthday}</td>
                        <td>${item.status}</td>
                        <td><input style="submit" data-id="${item.id}" class="btn btn-danger btn_edit" value="Sửa"></></td>
                        <td><input style="submit"  data-id="${item.id}" class="btn btn-default btn_deletet" value="Xóa"></></td>
                        </tr>`;
                }
                $("._data").html(row);
            }

        })
    }
        function Add_data() {
            var from = new FormData();
            from.append("UserName", $("#UserName").val());
            from.append("Email", $("#Email").val());
            from.append("Password", $("#Password").val());
            from.append("Phone", $("#Phone").val());
            from.append("img", $("#Image")[0].files[0] || new Blob());
            from.append("Birthday", $("#Birthday").val());
            from.append("status", $("#status").is(":checked"));
            //for (var pair of from.entries()) {
            //    alert(pair[0] + ', ' + pair[1]);
            //}
            //console.log(from)
        $.ajax({
            type: "POST",
            url: "https://localhost:44324/api/User",
            data: from,
            processData: false,
            contentType: false,
            success: function (res) {
                //if (res.status == 200) {
                //    console.log(res);
                   
                //}
                Load_data();
                newFrom();
                //else {
                //    console.log(res.Data)
                //  //  formValid.showErrors(res.Data);
                //}
                
            },
            
        })
    }
    function find(id) {
        $.ajax({
            url: "https://localhost:44324/api/User/" + id,
            type: "Get",
            success: function (res) {
                    $("#TxtId").val(id),
                    $("#UserName").val(res.data.UserName),
                    $("#Email").val(res.data.Email),
                    $("#Password").val(res.data.Password),
                    $("#Phone").val(res.data.Phone),
                        // $("#Avatar").val(res.data.Avatar),
                    $("#output").attr("src", "https://localhost:44324" + res.data.Avatar);
                    $("#Birthday").val(res.data.Birthday),
                    $("#status").prop("chack",res.data.status)
            }
        })
    }


        $(function () {
            Load_data();
            var formValid = $("#frm").validate({
                rules: {
                    "UserName": {
                        required: true
                    },
                    "Email": {
                        required: true
                    },
                    "Password": {
                        required: true,
                    },
                    "Phone": {
                        required: true,
                    }
                },
                messages: {
                    "UserName": {
                        required: "Vui lòng nhập tên",
                        remote: {
                            url: "https://localhost:44324/api/User",
                            type: "POST",
                            data: {
                                id: function () {
                                    return $("#UserName").val();
                                }
                            },
                            success: function (res) {
                                if (res) {
                                    formValid = true;
                                } else {
                                    formValid.showErrors({ "UserName": "Tên đẫ tồn tại" });
                                }
                            }
                        }
                    },
                    "UserName": {
                        required: "Vui lòng Không bỏ trống",
                    },
                    "Email": {
                        required: "Vui lòng Không bỏ trống",
                    },
                    "Password": {
                        required: "Vui lòng Không bỏ trống",
                    }
                },
                submitHandler: function (form) {
                    form.submit();
                }
            })

            $("#btn_but").click(function () {
                if ($("#Add").val() == "Add") {
                    //alert("aaaa")
                    Add_data();
                } else {
                    var from_edit = new FormData();
                    from_edit.append("id", $("#TxtId").val());
                    from_edit.append("UserName", $("#UserName").val());
                    from_edit.append("Email", $("#Email").val());
                    from_edit.append("Password", $("#Password").val());
                    from_edit.append("Phone", $("#Phone").val());
                    from_edit.append("img", $("#Image")[0].files[0] || new Blob());
                    from_edit.append("Birthday", $("#Birthday").val());
                    from_edit.append("status", $("#status").is(":checked"));
            
                    $.ajax({
                        url: "https://localhost:44324/api/User/" + $("#TxtId").val(),
                        type: "Put",
                        data: from_edit,
                        processData: false,
                        contentType: false,
                        success: function (res) {
                            alert(res)
                            Load_data();
                        }
                    })
                   
                }


            })
        
        $(document).on("click", ".btn_edit", function () {
            let _id = $("#Add").val("edit");
            var id = ($(this).data("id"));
            find(id);
        })
        $(document).on("click", ".btn_deletet", function () {
            let _id = ($(this).data("id"));
            $.ajax({
                type: "DELETE",
                url: "https://localhost:44324/api/User/" + _id,
                success: function (res) {
                    console.log(res)
                    Load_data();
                }
                })
        })
            $("#Image").change(function (event) {
                var input = event.target;
                var reader = new FileReader();
                reader.onload = function () {
                    var dataURL = reader.result;
                    var output = document.getElementById('output');
                    output.src = dataURL;
                };
                reader.readAsDataURL(input.files[0]);
            })
        
    })
    </script>

}
